---
import MainLayout from "../layouts/MainLayout.astro";
import {authors} from "../data/authors";
import AuthorCard from "../components/AuthorCard.astro";

---

<MainLayout
    pageTitle = "All Contributors"
    description = "List of Authors who contributed in making this platform a knowledgable place."
    seoImagePath = ""
    pageType = "website"
>
    <!-- Course Header -->
    <header class="pt-24 py-12 px-6 bg-gradient-to-br from-purple-50 to-blue-50 dark:from-gray-900 dark:to-gray-800 relative overflow-hidden">
        <div class="absolute top-0 right-0 w-64 h-64 bg-purple-300 dark:bg-purple-900 rounded-full -translate-y-32 translate-x-32 opacity-30 blur-3xl"></div>
        <div class="container mx-auto relative z-10">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <div class="lg:w-2/3 animate-on-scroll">
                    
                    <h1 class="text-4xl md:text-5xl font-bold mb-4">All Our Contributors</h1>
                    <p class="text-lg text-gray-600 dark:text-gray-300 mb-8">Thank you for making this a beautiful learning platform.</p>
                    
                </div>
                
            </div>
        </div>
    </header>

    <section class="py-10 px-6">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
            
            {
                authors.map((author)=> (
                    <AuthorCard 
                        authorName = {author.authorName}
                        authorDesignation = {author.authorDesignation}
                        authorImage = {author.authorImageFileName}
                        authorBio = {author.bio}
                    />
                ))
            }
            
        </div>
    </section>

</MainLayout>