---
interface Props {
    topicId : string,
    topicTitle : string,
    topicSlug : string,
    topicDuration : string,
    topicLevel : number,
    courseName : string,
}

const {topicId, topicTitle, topicSlug, topicDuration, topicLevel, courseName} = Astro.props;

const levelColors = ['green','blue','purple'];
let color = levelColors[topicLevel-1];
---
<div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-6 card-hover animate-on-scroll delay-200 visible">
    
    <div class="flex justify-between items-start mb-4">
        <div>
            <span class="px-3 py-1 rounded-full text-sm font-medium"
            class:list={[
                `bg-${color}-100`,
                `dark:bg-${color}-900`,
                `text-${color}-800`,
                `dark:text-${color}-200`
            ]}
            >{topicDuration}</span>
        </div>
        <input type="checkbox" class="topic-checkbox" data-id={topicId}>
    </div>
    <h3 class="text-lg font-bold mb-3">{topicTitle}</h3>
    <a href=`/CodeMastery/learning/${courseName}/${topicSlug}` class="flex items-center text-gray-500 dark:text-gray-400">
        <i class="fas fa-play-circle mr-2"></i>
        <span>Start Learning</span>
    </a>

</div>